@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap');
:root {
    --primary-color: #2E2C2F;
    --secondary-color: #729B79;
    --accent1-color: #475B63;
    --accent2-color:  #BACDB0;;

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: #BACDB0;
    --nav-link-color: #729B79;
    --nav-hover-link-color: #475B63;
    --nav-hover-background-color: #2E2C2F;
}
body {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}

 h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    padding: 15px;
}

footer a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 30%;
}

.hero article {
    position: absolute;
    top: 30%;
    width: 50%;
    height: auto;
    left: 20%;
}

.hero article img {
    float: right;
    width: 200px;
}

article {
    background-color: var(--accent2-color);
    opacity: 0.8;
}
 
header {
    background-color: var(--accent2-color); 
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header nav a {
    border-width: 1px 1px 1px 0; 
    border-color: #000; 
    grid-gap: 5px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
    font: var(--paragraph-font);
    font-size: 20px
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    opacity: 0.4;
    width: 30%;
    height: auto;
}
    
.history img {
    width: 150px;
    height: auto;
}

.history {
    display: flex;
    flex-direction: column;
}

.history div {
    display: flex;
}

.adventure {
    display: flex;
    flex-direction: column;
}

.adventure div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer div a img {
    width: 5%;
    height: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

footer div, a {
    padding-top: 2.1rem;
}

.info p {
    font-size: 1.2rem;
}

.happy-staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.staff-img {
    width: 500px;
    height: auto;
}

.staff {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.staff-info {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.staff-info span {
    margin-bottom: 0.5rem;
}

form {
    width: 50%;
    height: auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

fieldset div {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.message {
    display: flex;
}

textarea {
    margin-left: 0.5rem;
}

.purpose input, .purpose label {
    margin-bottom: 0.5rem;
}

.name input, .email input {
    width: 70%;
}

button {
    margin: 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.1rem;
    background-color: var(--accent1-color);
    width: 90%;
}

button:hover {
    background-color: var(--accent2-color);
    cursor: pointer;
}

.sections {
    display: flex;
}

.sections section {
    width: 50%;
    padding: 20px;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
}

.sections section div img, .sections section div p {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

section div a {
    font-size: 25px;
}

table {
    width: 90%;
    height: auto;
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

.table {
    margin-top: 7rem;
}

table tr th, table tr td {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.welcome img {
    width: 100%;
    height: auto;
}

.newsletteroffering {
    display: flex;
    margin-top: 2rem;
}

.offerings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 50%;
}

.offerings div img {
    width: 80%;
    margin-top: 2.5rem;
}

.newsletter {
    width: 50%;
}

.newsletter form div {
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.newsletter #link {
    margin-top: 12.8%;
    margin-left: 5%;
}

#purpose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

